In [34]:
# Import the dependencies.
import pandas as pd
import gmaps

import requests
# Import the API key.
from config import g_key

In [35]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2020-10-31 16:48:03,70.63,147.92,-1.08,94,97,7.40
1,1,Kalmunai,LK,2020-10-31 16:48:03,7.42,81.82,80.71,80,74,2.57
2,2,Komsomolskiy,UZ,2020-10-31 16:48:03,40.43,71.72,42.80,45,0,6.93
3,3,Alofi,NU,2020-10-31 16:48:03,-19.06,-169.92,73.40,94,85,11.41
4,4,Talnakh,RU,2020-10-31 16:48:03,69.49,88.40,19.40,85,90,38.03

In [36]:
#Checking to make sure we have floating point decimal numbers or integers
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [37]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [38]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [39]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [54]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kalmunai,LK,2020-10-31 16:48:03,7.42,81.82,80.71,80,74,2.57
7,7,Butaritari,KI,2020-10-31 16:48:04,3.07,172.79,81.23,75,64,16.93
14,14,Kahului,US,2020-10-31 16:44:39,20.89,-156.47,75.20,73,20,5.48
18,18,Fuerte Olimpo,PY,2020-10-31 16:48:05,-21.04,-57.87,89.73,37,22,7.40
19,19,Xuddur,SO,2020-10-31 16:48:05,4.12,43.89,76.03,77,36,9.40
26,26,Puerto Ayora,EC,2020-10-31 16:48:06,-0.74,-90.35,75.20,73,75,17.22
27,27,Atuona,PF,2020-10-31 16:48:06,-9.80,-139.03,78.17,76,17,17.83
29,29,Santa Cruz,BO,2020-10-31 16:45:05,-17.80,-63.17,86.00,27,75,21.92
32,32,Villamontes,BO,2020-10-31 16:48:07,-21.25,-63.50,85.15,22,38,10.71
39,39,Davila,PH,2020-10-31 16:48:07,18.47,120.58,76.30,73,92,22.44

In [55]:
preferred_cities_df.count()

City_ID       171
City          171
Country       167
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [57]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1        Kalmunai      LK     80.71   7.42   81.82
7      Butaritari      KI     81.23   3.07  172.79
14        Kahului      US     75.20  20.89 -156.47
18  Fuerte Olimpo      PY     89.73 -21.04  -57.87
19         Xuddur      SO     76.03   4.12   43.89
26   Puerto Ayora      EC     75.20  -0.74  -90.35
27         Atuona      PF     78.17  -9.80 -139.03
29     Santa Cruz      BO     86.00 -17.80  -63.17
32    Villamontes      BO     85.15 -21.25  -63.50
39         Davila      PH     76.30  18.47  120.58

In [58]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

             City Country  Max Temp    Lat     Lng                 Hotel Name
1        Kalmunai      LK     80.71   7.42   81.82                   VS Villa
7      Butaritari      KI     81.23   3.07  172.79         Isles Sunset Lodge
14        Kahului      US     75.20  20.89 -156.47         Maui Seaside Hotel
18  Fuerte Olimpo      PY     89.73 -21.04  -57.87        Hotel Fuerte Olimpo
19         Xuddur      SO     76.03   4.12   43.89             Banjanay Hotel
26   Puerto Ayora      EC     75.20  -0.74  -90.35  Finch Bay Galapagos Hotel
27         Atuona      PF     78.17  -9.80 -139.03                Villa Enata
29     Santa Cruz      BO     86.00 -17.80  -63.17               Hotel Cortez
32    Villamontes      BO     85.15 -21.25  -63.50               Hotel Raldes
39         Davila      PH     76.30  18.47  120.58    SITIO 3 DAVILA PASUQUIN

In [60]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [65]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))